*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f4f4;
}

.login-box{
    width:350px;
  
    background-color: rgb(248, 234, 221);

    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

.login-box h2{
    text-align:center;
    margin-bottom:20px;
}

input,textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:1px solid gray;
    border-radius:5px;
}

textarea{
    resize:none;
    height:80px;
}

button{
    width:100%;
    padding:10px;
  
     background:rgb(192, 159, 166)
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
  
      background:green;
}